@import 'reset.scss';
@import '../font/TTCommons/stylesheet.scss';

.app {
    font-family: 'TT Commons';
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0px 20px;
}

.main {
    padding: 122px 0px 0px 0px;
}